.odd-element {
    background-color: #ffa6a6;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#one-id {
    color: blue;
    font-size: 36px;
}

.medium-element, #another-id {
    font-size: 24px;
}

#another-id {
    background-color: #bfffa6;
    font-weight: bold;
}